@page
@model ForgotPasswordModel
@{
ViewData["Title"] = "Recuperar Contraseña";
}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
        <div class="card">
      <div class="card-header text-center">
        <img src="~/img/siges700px.png" class="rounded img-fluid" width="150" height="130" alt="SIGES - Roatech Services">
      </div>
      <div class="card-body">
        <form method="post" class="padd-R-L-5px">
          <div class="form-group">
            <h2 class="text-center">Recuperar Contrase&ntilde;a</h2>
            <label class="h5" asp-for="Input.Email">Usuario</label>
            <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="Correo electrónico"/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
          </div>
          <div class="form-group"> 
            <button type="submit" class="btn btn-primary btn-block margTop40"><h5>Solicitar</h5></button>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
