@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueado";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="card-header text-center">
          <img src="~/img/siges700px.png" class="rounded img-fluid" width="150" height="130" alt="SIGES - Roatech Services">
            <div class="card-header">
                <h2 class="text-danger">Cuenta Bloqueada</h2>
            </div>
            <div class="card-body">
                Se ha bloqueado el acceso, deberá esperar el tiempo establecido para desbloquear la cuenta o podrá comunicarse con el administrador de la plataforma. 
            </div>
        </div>
    </div>
</div>
