@page
@model ResetPasswordModel
@{
ViewData["Title"] = "Restablecer Contraseña";
}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="card">
      <div class="card-header text-center">
        <img src="~/img/siges700px.png" class="img-fluid rounded" width="150" height="130" alt="SSM4.0 - Roatech Services">
        <h2>Restablecer Contraseña</h2>
      </div>
      <div class="card-body">
        <form method="post" class="padd-R-L-5px">                    
          <div class="form-group">
            <label class="h5" asp-for="Input.Email">Usuario</label>
            <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="Correo electrónico"/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label class="h5" asp-for="Input.Password">Contrase&ntilde;a</label>
            <div class="input-group">
              <input id="inputPassword" asp-for="Input.Password" class="form-control form-control-lg" placeholder="Contrase&ntilde;a"/>
              <div class="input-group-append">
                <button id="showPassword" class="btn input-group-text" type="button"><i class="fas fa-eye"></i></button >
              </div>
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label class="h5" asp-for="Input.ConfirmPassword">Confirmar Contrase&ntilde;a</label>
            <div class="input-group">
              <input id="inputConfirmPassword" asp-for="Input.ConfirmPassword" class="form-control form-control-lg" placeholder="Confirmar Contrase&ntilde;a"/>
              <div class="input-group-append">
                <button id="showConfirmPassword" class="btn input-group-text" type="button"><i class="fas fa-eye"></i></button >
              </div>
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
          </div>
          <div class="form-group"> 
            <button type="submit" class="btn btn-primary btn-block margTop40"><h5>Restablecer</h5></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



@* <h1>@ViewData["Title"]</h1>
<h4>Reset your password.</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="All" class="text-danger"></div>
      <input asp-for="Input.Code" type="hidden" />
      <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary">Reset</button>
    </form>
  </div>
</div> *@

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script>
$('#showPassword').on('mousedown', () => {
$('#inputPassword').attr("type", "text");
});
$('#showPassword').on('mouseup mouseleave', () => {
$('#inputPassword').attr("type", "password");
});
$('#showConfirmPassword').on('mousedown', () => {
$('#inputConfirmPassword').attr("type", "text");
});
$('#showConfirmPassword').on('mouseup mouseleave', () => {
$('#inputConfirmPassword').attr("type", "password");
});
</script>
}
