@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Resumen de Servicios";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Resumen de Servicios</h2>
        </div>
    </div>
    <div class="row">
        <table id="tableSummary" data-toggle="table" data-search="true" data-show-columns="false" data-pagination="true" data-locale="es-MX" data-classes="table table-hover">
            <thead>
                <tr>
                    <th>Servicio</th>
                    <th>Servicios Solicitados</th>
                </tr>
            </thead>
            <tbody>
              @if(Model != null){
              @foreach (DataRow row in Model.Rows){
              <tr>
                <td>@row["Servicio"].ToString()</td>
                <td>@row["NumServicio"].ToString() </td>
              </tr>
              }
              }
            </tbody>
        </table>
    </div>
</div>
