
@{
    ViewData["Title"] = "Conciliaci&oacute;n Insumo";
}

<h2>ConciliacionInsumo</h2>

<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label for="ciContrato">Contrato</label>
            <select id="ciContrato" class="form-control">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ciUbicacion">Ubicaci&Oacute;n</label>
            <select id="ciUbicacion" class="form-control">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
            </select>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID Inventario</th>
                    <th>Referencia</th>
                    <th>Descripci&oacute;n</th>
                    <th>Marca</th>
                    <th>Inventario Te&oacute;rico</th>
                    <th>Inventario F&iacute;sico</th>
                    <th>Diferencia</th>
                    <th>id_detalle_inventario_insumo</th>
                    <th>Captura inventario f&iacute;sico</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <button>Inventario</button>
        <button>Guardar</button>
        <button>Cancelar</button>
    </div>
</div>
