@model siges.Models.Cliente
@{
ViewData["Title"] = "Nuevo registro";
}

<h2>Nuevo registro</h2>

<h4>Cliente</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="SaveCliente">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="RazonSocial" class="control-label"></label>
        <input asp-for="RazonSocial" class="form-control" />
        <span asp-validation-for="RazonSocial" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="RFC" class="control-label"></label>
        <input asp-for="RFC" class="form-control" />
        <span asp-validation-for="RFC" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Telefono" class="control-label"></label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Opcional1" class="control-label"></label>
        <input asp-for="Opcional1" class="form-control" />
        <span asp-validation-for="Opcional1" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Opcional2" class="control-label"></label>
        <input asp-for="Opcional2" class="form-control" />
        <span asp-validation-for="Opcional2" class="text-danger"></span>
      </div>
      @*<div class="form-group">
        <div class="checkbox">
          <label>
            <input asp-for="Estatus" /> @Html.DisplayNameFor(model => model.Estatus)
          </label>
        </div>
      </div>*@
      <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
